.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  flex-wrap: wrap;
  gap: 10px;
  &__item {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
  }

  &__thumb {
    img{
      max-width: 300px;
    }
  }
}
